AdaptationSet with contentType subtitle are not identified as valid text tracks.

**Have you read the [FAQ](https://bit.ly/ShakaFAQ) and checked for duplicate open issues?**
Yes

**What version of Shaka Player are you using?**
2.4.7 and 2.5.0

**Can you reproduce the issue with our latest release version?**
Yes

**Can you reproduce the issue with the latest code from `master`?**
Yes

**Are you using the demo app or your own custom app?**
Demo app

**If custom app, can you reproduce the issue using our demo app?**


**What browser and OS are you using?**
Chrome: 74.0.3729.108 (Build oficial) (64 bits)

**For embedded devices (smart TVs, etc.), what model and firmware version are you using?**
Does not apply.

**What are the manifest and license server URIs?**
The MPD is https://b127.cdncert.telefonica.com/127/sdash/LIVE$Paramount/index.mpd/Manifest.mpd?start=LIVE&end=END&device=Dash-SINDRM1

**What did you do?**
When Playback is started just one text track is identified although the manifest contains 3 AdaptationSet with texts.

```
<AdaptationSet id="5" group="8" bitstreamSwitching="true" segmentAlignment="true" contentType="subtitle" mimeType="application/mp4" lang="spa">
<AdaptationSet id="6" group="8" bitstreamSwitching="true" segmentAlignment="true" contentType="subtitle" mimeType="application/mp4" lang="qaa">
<AdaptationSet id="7" group="4" bitstreamSwitching="true" segmentAlignment="true" contentType="text" mimeType="application/mp4" lang="und">
```

The only working track is the one with ``contentType="text"``.

I've intercepted the XML and replaced the string contentType="subtitle" with contentType="text" and they are properly shown in the player. However, if the user selects those tracks an error is thrown (BAD_ENCODING) and playback freezes.

**What did you expect to happen?**
All text tracks should be supported by the player. I've tested the MPD in the DASH-IF player and all tracks are shown. If the user selects one of the tracks identified with qaa or spa, texts are shown although the encoding is not correct.

**What actually happened?**
Just 1 track is shown.

The DASH spec says in section 5.3.3.2 that the `contentType` element is:

> specifies the media content component type for this Adaptation Set. A value of the top-level Content-type 'type' value as defined in RFC4288, Clause 4 shall be taken.

In that RFC, it says the only top-level content types are `text`, `image`, `audio`, and `video`.  So using `subtitle` is against the spec.  We could just translate `subtitle` with `text`, but your content isn't spec compliant.

As for the BAD_ENCODING, your media content is also bad.  You use TTML in MP4, which has TTML text inside the media sample.  That sample should be encoded with UTF-8, but it appears you use some kind of extended ASCII (I see a byte 0xBF probably representing the character "¿", but that isn't valid UTF-8, it should be the two-byte sequence 0xC2 0xBF).

Thanks @TheModMaker.  Additionally, "subtitle" in DASH should be used as a role, not a contentType.  It should be contentType="text".

Thanks for the information, I will sennd your comments to the our encoding team.